* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
:root {
    --roxo-800: #0E002F;
    --roxo-700: #340576;
    --roxo-600: #5604C8;
    --roxo-500: #6C05FA;
    --roxo-400: #8441F1;
    --roxo-300: #A371F4;
    --roxo-200: #C2A0F8;
    --roxo-100: #E0D0FB;

    --verde-800: #111F00;
    --verde-700: #396600;
    --verde-600: #569900;
    --verde-500: #81E500;
    --verde-400: #A0FF27;
    --verde-300: #C4FA7F;
    --verde-200: #DFFEB9;
    --verde-100: #F6FFEB;

    --cinza-700: #232B34;
    --cinza-600: #384552;
    --cinza-500: #475062;
    --cinza-400: #5B6474;
    --cinza-300: #747F95;
    --cinza-200: #9AA2B2;
    --cinza-100: #E4EAF4;

    --branco: #fff;
    --preto: #000;
}

h1 {
    font-family: "Jersey 10";
    font-size: 81px;
    font-style: normal;
    font-weight: 400;
    line-height: 81px; /* 100% */
}

h2 {
    font-family: "Jersey 10";
    font-size: 81px;
    font-style: normal;
    font-weight: 400;
    line-height: 81px; /* 100% */
}

h3 {
    font-family: "Jersey 10";
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 92.593% */
}

h4 {
    font-family: "Jersey 10";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
    letter-spacing: 0.72px;
}

h5 {
    font-family: "Jersey 10";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.48px;
}

.subtitle-large {
    font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
}

.subtitle-regular {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.subtitle-small {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
}

.body-large {
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.body-regular {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.body-small {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.label-large {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px; /* 118.75% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.label-regular {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.label-small {
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.tag-large {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.tag-regular {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.tag-small {
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}


body {
    background-color: #0E002F;
    margin: 0;
}
header {
    width: 100%;
    height: 912px;
    background-image: url(../images/image-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.arqueira {

    height: 100%;
    display: flex;

}