* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
:root {
    --roxo-800: #0E002F;
    --roxo-700: #340576;
    --roxo-600: #5604C8;
    --roxo-500: #6C05FA;
    --roxo-400: #8441F1;
    --roxo-300: #A371F4;
    --roxo-200: #C2A0F8;
    --roxo-100: #E0D0FB;

    --verde-800: #111F00;
    --verde-700: #396600;
    --verde-600: #569900;
    --verde-500: #81E500;
    --verde-400: #A0FF27;
    --verde-300: #C4FA7F;
    --verde-200: #DFFEB9;
    --verde-100: #F6FFEB;

    --cinza-700: #232B34;
    --cinza-600: #384552;
    --cinza-500: #475062;
    --cinza-400: #5B6474;
    --cinza-300: #747F95;
    --cinza-200: #9AA2B2;
    --cinza-100: #E4EAF4;

    --branco: #fff;
    --preto: #000;
    --radio-gradient-roxo: linear-gradient(142deg, rgba(150,96,228,1) 0%, rgba(150,96,228,1) 20%, rgba(86,4,200,1) 49%);
}

h1 {
    font-family: "Jersey 10";
    font-size: 81px;
    font-style: normal;
    font-weight: 400;
    line-height: 81px; /* 100% */
}

h2 {
    font-family: "Jersey 10";
    font-size: 81px;
    font-style: normal;
    font-weight: 400;
    line-height: 81px; /* 100% */
}

h3 {
    font-family: "Jersey 10";
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 92.593% */
}

h4 {
    font-family: "Jersey 10";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
    letter-spacing: 0.72px;
}

h5 {
    font-family: "Jersey 10";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.48px;
}

.subtitle-large {
    font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
}

.subtitle-regular {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.subtitle-small {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
}

.body-large {
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.body-regular {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.body-small {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.label-large {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px; /* 118.75% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.label-regular {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.label-small {
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.tag-large {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.tag-regular {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.tag-small {
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.btn {
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 28px;
    border: 1px solid var(--roxo-400);
    background: var(--radio-gradient-roxo);
    font-size: 12px;
    font-style: normal;
    font-weight: 600px;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: var(--branco);
}

.btn:hover {
    opacity: 60%;
}

.btn-outline {
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 28px;
    border: 1px solid var(--roxo-400);
    font-size: 12px;
    font-style: normal;
    font-weight: 600px;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: var(--branco);
}

.btn-outline:hover {
    opacity: 60%;
}

/* ----------- CSS DANIEL -----------  */

.section-jogos-imperdiveis {
    width: 80vw;
    max-width: 1225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    gap: 48px;
    margin: 75px auto;
}

.section-jogos-imperdiveis h3 {
    color: var(--branco);
}

.container-jogos-imperdiveis {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    gap: 24px;
}

.card-jogos-imperdiveis {
    display: flex;
    height: 544px;
    width: 344px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    flex: 1 0 0;
    border-radius: 15px;
    border: 1px solid var(--roxo-200);
    background: radial-gradient(1067.85% 316.35% at 115.5% 253.33%, rgba(194, 160, 248, 0.08) 0%, rgba(86, 4, 200, 0.08) 100%);
}

.content-card-jogos-imperdiveis {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    align-self: stretch;
}

.text-card-jogos-imperdiveis {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulo-e-dev-jogos-imperdiveis {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.titulo-e-dev-jogos-imperdiveis .body-small {
    color: var(--cinza-200);
    padding-bottom: 12px;
}

.botoes-jogos-imperdiveis {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-card-jogos-imperdiveis .tag-regular {
    color: var(--verde-500);
    padding-bottom: 12px;
}

.text-card-jogos-imperdiveis p {
    color: var(--branco);
}

.tags-jogos-imperdiveis {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--roxo-300);
    padding: 12px 0px;
}
.tags-jogos-imperdiveis p {
    color: var(--roxo-200);
}

.section-melhor-jogo-da-semana {
    display: flex;
    width: 80vw;
    max-width: 1225px;
    min-height: 600px;
    align-items: center;
    background-image: url(../images/section-melhor-jogo-da-semana.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 16px;
    border: solid 1px var(--roxo-200);
    padding: 0 60px;
    color: var(--branco);
}

.content-melhor-jogo-da-semana {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.text-descricao-melhor-jogo-da-semana {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 32px;

}

.botoes-melhor-jogo-da-semana {
    display: flex;
    gap: 12px;
}

/* ----------- CSS MAHER -----------  */

body {
    background-color: #0E002F;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background: transparent;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a, .right-nav a {

    color: white;
    text-decoration: none;
    
}

.right-nav a {
    margin-left: 20px;
    padding: 10px 20px;
}

.btn-envio {
    border: 1px solid white;
    border-radius: 20px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 100px 50px;
    background-image: url('../images/image-hero.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;

}

.hero-text {
    max-width: 870px;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 5em;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 30px;
    max-width: 580px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary, .btn-secondary {
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1em;
}

.btn-primary {
    background-color: linear-gradiente();
    color: #fff;

}

.btn-secondary {
    border: 1px solid white;
    color: white;
}

.hero-image {
    position: absolute;
    right: -530px;
    bottom: 0;
    z-index: 2;
}

.hero-image img {
    max-width: 1300px;
    height: auto;
}

